<div class="bgPhoto logPh"> </div>
<div class="bgOverlay logPh"> </div>
<div class="frameHolder">

    <div class="insideframeHolder">
        <div class="frame">
            <form class="frameContainer" method="POST">

                <h1 class="regEl">PLEASE LOG IN</h1>
                <div class="bannerRegister">#FREENAVALNY</div>

                <div class="regEl">
                    <div class="frameContainer center">

                        {{>error status=smthWrong}} 
                        <div>
                            <div class="orgInputs">
                                <label for="emailId">Email:</label>
                                <input
                                    type="text"
                                    id="emailId"
                                    name="email"
                                    placeholder="your@email.com"
                                    pattern="[^@\s]+@[^@\s]+\.[^@\s]+"
                                    required
                                />
                            </div>
                            <div class="orgInputs">
                                <label for="passwordId">Password:</label>
                                <input
                                    type="password"
                                    type="text"
                                    id="passwordId"
                                    name="password"
                                    required
                                />

                            </div>
                        </div>

                        <input
                            type="hidden"
                            name="_csrf"
                            value="{{csrfToken}}"
                        />
                        <div class="wrapper"><button>LOG IN</button></div>

                    </div>

                </div>

            </form>
        </div></div>

</div>