<div class="frameHolder">

    <div class="insideframeHolder">
       
        <div class="frame">
            <form class="frameContainer" method="POST">
                <h1 class="regEl">REGISTRATION</h1>
                <div class="bannerRegister">#FREENAVALNY</div>

                <div class="regEl">
                    <div class="frameContainer center">
                           <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        Iusto rerum eaque suscipit assumenda ipsa sapiente
                        excepturi cumque illo, aliquid aliquam?</p>
                   {{>error status=smthWrong}} 
                        <div>
                            <div class="orgInputs">        <label for="firstNameId">First name:</label>
                            <input
                                type="text"
                                id="firstNameId"
                                name="firstName"
                                required
                            /></div>
                    

                            <div class="orgInputs"> <label for="lastNameId">Last name:</label>
                            <input
                                type="text"
                                id="lastNameId"
                                name="lastName"
                                required
                            /></div>
                            
                            </div>
                        
                        <div>
                            <div class="orgInputs">  <label for="emailId">Email:</label>
                            <input
                                type="text"
                                id="emailId"
                                name="email"
                                placeholder="your@email.com"
                                pattern="[^@\s]+@[^@\s]+\.[^@\s]+"
                                required
                            /></div>
                          
                             <div class="orgInputs">    <label for="passwordId">Password:</label>
                            <input
                                type="password"
                                id="passwordId"
                                name="password"
                                required
                            /></div>
                            
                            </div>

                        
                        
 <input type="hidden" name="_csrf" value="{{csrfToken}}" />
                    <div class="wrapper"><button> SIGN UP </button></div>
                    <p style="font-weight: bolder; font-">If you are already a member, please
                        <a  href="/login">log in</a></p></div>
                    </div>

                   

            </form>

        </div></div>

</div>