<div class="thanks">
    <div class="row1">
    </div>
    <div class="row2">
        <div class="thanks inside"><h1>Thank you for your signature</h1>
            <img src="{{imgSig}}" alt="signature" />
            <a href="/petition/supporters">SEE ALL
                {{numSigned}}
                SUPPORTERS</a></div>
    </div>

    <div class="row3"></div>

</div>