<div class="thanks">
    <div class="row1">
    </div>
    <div class="row2">
        <div class="thanks inside"><h1>Thank you for your signature</h1>
            <img src="{{imgSig}}" alt="signature" />
            <a href="/petition/supporters">SEE ALL
                {{numSigned}}
                SUPPORTERS</a>
                <a href="/edit">Edit my profile</a></div>

                </div>
                 
        <form method="POST">
            <button>DELETE MY SIGNATURE</button>
            <input type="hidden" name="_csrf" value="{{csrfToken}}" />
        </form>
    </div>

    <div class="row3"></div>

</div>