<div class="frameHolder">
    <div class="insideframeHolder">
        <div class="frame">

            <form class="frameContainer" method="POST">

                <h1 class="regEl">Thank you for signing!</h1>
                <div class="bannerRegister">#FREENAVALNY</div>

                <div class="regEl">

                    <img src="{{imgSig}}" alt="signature" />
                    <div><a href="/petition/supporters">SEE ALL
                            {{numSigned}}
                            SUPPORTERS</a></div>
                    <div><a href="/edit">Edit my profile</a></div>
                    <button>DELETE MY SIGNATURE</button>
                </div>
                <input type="hidden" name="_csrf" value="{{csrfToken}}" />
            </form>
        </div></div>

</div>