<div class="welcomeContainer">
    <div class="leftWContainer">

        <div class="lines">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>

        </div>
        <div class="overlay"></div>
    </div>

    <div class="rightWContainer">
        <div class="insideContainer">
            <h1 class="regEl">SHOW YOUR SUPPORT</h1>
            <div class="bannerRegister">#FREENAVALNY</div>
            <form class="regEl frameContainer center" method="POST">

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Quod, ea accusamus, distinctio doloribus expedita deserunt
                    ratione rerum porro est totam, eaque dicta inventore
                    voluptates aut. Repudiandae beatae in mollitia iure at
                    tempora tempore sequi. Quam quia explicabo totam repellendus
                    voluptatibus, commodi doloremque saepe laudantium, corporis,
                    amet earum? Alias, a quas.</p>
                {{>error status=smthWrong}}
                <input type="hidden" id="hiddenFieldId" name="hiddenField" />
                <div class="wrapper">
                    <div style="font-size: 15px; font-weight:bold;">SIGN HERE</div>
                    <canvas
                        id="signatureCanvas"
                        width="350"
                        height="200"
                    ></canvas>
                </div>
                <input type="hidden" name="_csrf" value="{{csrfToken}}" />

                <div class="wrapper"><button> SUBMIT MY SIGNATURE</button></div>
                <div><a style="font-weight: bold;" href="/logout">LOG OUT</a></div>
            </form>
        </div>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="/script.js"></script>
    </div>
</div>