@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap");

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

body {
    background-color: #2b2d42;
}

#signatureCanvas {
    background-color: yellow;
}

#sigPic {
    width: 300;
    height: 100;
}

.welcomeContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

main {
    width: 100%;
    height: 100%;
}

.leftWContainer,
.rightWContainer {
    width: 50%;
}

.leftWContainer {
    position: relative;
}

.lines {
    position: absolute;
    height: 60%;
    width: 130%;
    bottom: 0;
    transform: skewX(331deg) translate(-3%, 0px);
}

.overlay {
    background-color: rgba(239, 35, 60, 0.25);
    height: 100%;
    width: 100%;
}
.lines div {
    display: inline-block;
    width: 40px;
    margin-right: 40px;
}

.lines div:nth-of-type(1) {
    height: 100%;
    background-color: rgba(217, 4, 41, 0.65);
}

.lines div:nth-of-type(2) {
    height: 83%;
    background-color: rgba(239, 35, 60, 0.55);
}
.lines div:nth-of-type(3) {
    height: 87%;
    background-color: rgba(217, 4, 41, 0.65);
}
.lines div:nth-of-type(4) {
    height: 95%;
    background-color: rgba(217, 4, 41, 0.55);
}
.lines div:nth-of-type(5) {
    height: 57%;
    background-color: rgba(217, 4, 41, 0.65);
}
.lines div:nth-of-type(6) {
    height: 56%;
    background-color: rgba(217, 4, 41, 0.55);
}
.lines div:nth-of-type(7) {
    height: 43%;
    background-color: rgba(217, 4, 41, 0.65);
}
.lines div:nth-of-type(8) {
    height: 73%;
    background-color: rgba(217, 4, 41, 0.55);
}

.lines div:nth-of-type(9) {
    height: 55%;
    background-color: rgba(217, 4, 41, 0.65);
}
.lines div:nth-of-type(10) {
    height: 73%;
    background-color: rgba(217, 4, 41, 0.55);
}

.leftWContainer {
    background-image: url("assets/navalnymain.jpg");
    background-position: 5%;
    background-size: cover;
}

.rightWContainer {
    padding: 2em;
    background-color: rgb(141, 153, 174);
}

h1 {
    /* font-size:3,5rem */
    width: 80%;
    border-radius: 10px;
    color: #ef233c;
}

h1::after {
    content: " ";
    border-top: 5px solid #d90429;
    display: block;
}

.insideContainer {
    display: grid;
    gap: 20px;
    height: fit-content;
}

label {
    display: inline-block;
    width: 100px;
}

button {
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 1px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: transparent;
}

canvas {
    cursor: pointer;
}

.banner {
    position: absolute;
    background-color: red;
    color: white;
    font-size: 20px;
    width: 30%;
    height: 55px;
    transform: skew(-20deg);
    left: 30px;
    top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thanks {
    display: grid;
    grid-template-rows: 0.3fr 1fr 0.3fr;
    width: 100%;
    height: 100%;
}

.thanks .inside {
    grid-row: 2;
    background-image: url("assets/thanks.jpeg");
    background-position: 20% 67%;
    background-size: cover;
}

.row1 {
    grid-row: 1;
    background-color: #2b2d42;
}

.row3 {
    grid-row: 3;
    background-color: #2b2d42;
}

/* REGISTRATION */

.bannerRegister {
    background-color: #d90429;
    color: white;
    font-size: 30px;
    transform: skew(-20deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.insideframeHolder {
    width: 40rem;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.frameHolder {
    padding: 2em;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frame {
    background-color: #8d99ae;

    border-radius: 10px;
    padding: 1em;
}

.frameContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.regEl {
    background-color: #edf2f4;
    border-radius: 10px;
    padding: 30px;
    width: 100%;
}

/* REGISTRATION END */
