@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap");

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

body {
    background-color: #2b2d42;
}

#signatureCanvas {
    background-color: white;
    border: 1px red solid;
}

#sigPic {
    width: 350;
    height: 200;
}

.sigContainer {
    background-color: white;
    width: 350;
    height: 200;
    margin: 0 auto;
    clear: both;
}

.welcomeContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

main {
    width: 100%;
    height: 100%;
}

.leftWContainer,
.rightWContainer {
    flex-grow: 1;
    flex-basis: 0;
    min-width: 500px;
    z-index: 5;
}

.leftWContainer {
    position: relative;
    overflow: hidden;
}

.lines {
    position: absolute;
    height: 60%;
    width: 130%;
    bottom: 0;
    transform: skewX(331deg) translate(-3%, 0px);
}

.overlay {
    background-color: rgba(239, 35, 60, 0.25);
    height: 100%;
    width: 100%;
}
.lines div {
    display: inline-block;
    width: 40px;
    margin-right: 40px;
}

.lines div:nth-of-type(1) {
    height: 100%;
    background-color: rgba(217, 4, 41, 0.65);
}

.lines div:nth-of-type(2) {
    height: 83%;
    background-color: rgba(239, 35, 60, 0.55);
}
.lines div:nth-of-type(3) {
    height: 87%;
    background-color: rgba(217, 4, 41, 0.65);
}
.lines div:nth-of-type(4) {
    height: 95%;
    background-color: rgba(217, 4, 41, 0.55);
}
.lines div:nth-of-type(5) {
    height: 57%;
    background-color: rgba(217, 4, 41, 0.65);
}
.lines div:nth-of-type(6) {
    height: 56%;
    background-color: rgba(217, 4, 41, 0.55);
}
.lines div:nth-of-type(7) {
    height: 43%;
    background-color: rgba(217, 4, 41, 0.65);
}
.lines div:nth-of-type(8) {
    height: 73%;
    background-color: rgba(217, 4, 41, 0.55);
}

.lines div:nth-of-type(9) {
    height: 55%;
    background-color: rgba(217, 4, 41, 0.65);
}
.lines div:nth-of-type(10) {
    height: 73%;
    background-color: rgba(217, 4, 41, 0.55);
}

.leftWContainer {
    background-image: url("assets/navalnymain.jpg");
    background-position: 5%;
    background-size: cover;
}

.rightWContainer {
    padding: 2em;
    background-color: #2b2d42;
}

h1 {
    /* font-size:3,5rem */
    width: 80%;
    border-radius: 10px;
    color: #ef233c;
}

h1::after {
    content: " ";
    border-top: 5px solid #d90429;
    display: block;
}

h2 {
    /* font-size:3,5rem */
    width: 80%;
    border-radius: 10px;
    color: #ef233c;
}

h2::after {
    content: " ";
    border-top: 5px solid #d90429;
    display: block;
}

label {
    display: inline-block;
    width: 100px;
    text-align: left;
    font-weight: bolder;
    text-transform: uppercase;
}
input {
    margin-right: 10px;
    width: 13em;
}

/* button {
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 1px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: transparent;
} */

canvas {
    cursor: pointer;
}

/* .banner {
    position: absolute;
    background-color: red;
    color: white;
    font-size: 20px;
    width: 30%;
    height: 55px;
    transform: skew(-20deg);
    left: 30px;
    top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* REGISTRATION */

.bannerRegister {
    background-color: #d90429;
    color: white;
    font-size: 30px;
    transform: skew(-20deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 1px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    width: 200px;
}

button::after {
    content: "";
    background-color: #ef233c;
    width: 100%;
    z-index: -3;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
}
button:hover::after {
    top: 0px;
    left: 0px;
}

.insideframeHolder {
    width: 40rem;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.frameHolder {
    padding: 2em;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frame {
    background-color: #8d99ae;
    border-radius: 10px;
    padding: 1em;
    z-index: 3;
}

.regEl {
    background-color: #edf2f4;
    border-radius: 10px;
    padding: 30px;
    width: 100%;
    z-index: 2;
}

.frameContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.frameContainer.center {
    text-align: center;
}

/* REGISTRATION END */

.insideContainer {
    display: grid;
    gap: 20px;
    min-height: calc(100vh - 4em);
    background-color: #8d99ae;
    border-radius: 10px;
    grid-template-rows: max-content max-content 1fr;
    padding: 1em;
    z-index: -5;
    position: relative;
}

.orgInputs {
    padding-bottom: 10px;
}

.buttonLink {
    background: none !important;
    border: none;
    padding: 0 !important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: #069;
    text-decoration: underline;
    cursor: pointer;
}
